doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
    body 
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/")  Shop 
                    li.main-header__item
                        a(href="/admin/add-product")  Add Product     
        main
            if prods.length > 0
                .grid
                     each product in prods
                       article.card.product-item 
                            header.card-header 
                                h1.product-title #{product.title}
                            div.card-image
                                img(src="https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg", alt="book image") 
                            div.card-content
                                h2.product-price $19.9
                                p.product-description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere adipisci itaque quisquam a nihil magnam. Iste delectus, esse iusto rem sit possimus at.
                            div.card-actions 
                                button.btn Add To Cart
            else 
                h1 No Product  
