*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* main{
    padding: 1rem;
} */
.main-header{
    max-width: 100%;
    background-color: #DBC441;
    padding: 10px;
    height: 56px;
}
.main-header__nav{
    height: 100%;
}
.main-header__item-list{
    width:100%;
    display: none;
    align-items: center;
    list-style: none;
    height: 100%;
}
.main-header__item{
    margin: 10px;
}
.main-header__item a{
    text-decoration: none;
    color:black;
    font-weight: 600;
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active{
    color: #138be1;
}

.error{
    margin: 1rem 0;
    height: 70vh;
}


.card{
    padding: 1rem;
    height: 500px;
    width: 20rem;
    font: inherit;
    margin: 20px auto;
    box-shadow: 2px 2px 10px black;
}
.card-header{
    padding: 10px 0px;
}
.product-title{
    text-align: center;
}
.card-image img{
    width: 100%;
}
.card-image{
    margin: 20px 0px;
}
.card-content{
    width: 100%;
}
.product-price{
    text-align: center;
    font-size: 1.5rem;;
}
.product-description{
    margin: 1rem 0;
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
}
.card-actions{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem auto;
}
.btn ,
.card-actions 
.btn a{
    text-decoration: none;
    padding: 2px 5px;
    background-color: white;
    color: #138be1;
    border: 2px solid#138be1;
    border-radius: 3px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s all ease;
}

.centered{
    text-align: center;
}
.card-actions 
.btn a{
    border: none;
    width: 100%;
}
.btn:hover,
.card-actions 
.btn a:hover{
    background-color: #138be1;
    color: white;
    box-shadow: 2px 2px 5px #138be1;
}

.mobile-view{
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    padding: 4rem 2rem;
    transform: translateX(-100%);
    transition: 0.3s all ease;
    z-index: 10;
}

.open{
    transform: translateX(0%);
}

.backdrop{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    cursor: pointer;
}

.mobile-header__item-list{
    list-style: none;
    font-size: 2.5rem;
}
.mobile-header__item{
    padding: 1.5rem;
}
.mobile-header__item a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.462);
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
}

.mobile-header__item a:hover{
    color: black;
    text-shadow: 0 5px 10px rgba(68, 49, 49, 0.289);
}

.mobile-view__menu{
    padding: 0.5rem 1rem;
    margin:10px 0 0 0 ;
    background-color: rgb(71, 71, 143);
    border-radius: 4px;
    border: none;
    color: white;
}

.mobile-view__menu:hover{
    box-shadow: 2px 2px 6px black;
}

@media screen and (min-width: 768px){
        .main-header__item-list{
            display: flex;
        }
        .mobile-view{
            display: none;
        }
        .mobile-view__menu{
            display: none;
        }
}