<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/main.css"> -->
    <%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/product.css" >
</head>

<body>
    <!-- <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/" >Shop</a></li>
                <li class="main-header__item"><a class="active" href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header> -->

    <%- include('../includes/navigation.ejs')%>

    <main>
        <form class="product-form" action="/admin/add-product" method="POST">
            <div class="form-controller">
                <label for="title"> Title</label>
                <input type="text" name="title" id="title" />
            </div>

            <div class="form-controller">
                <label for="imageUrl"> ImageUrl</label>
                <input type="text" name="imageUrl" id="imageUrl" />
            </div>

            <div class="form-controller">
                <label for="price"> Price</label>
                <input type="number" name="price" id="price" />
            </div>

            <div class="form-controller">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"></textarea>
            </div>
            <button type="submit"> Add Product</button>
    </main>
<!-- </body>

</html> -->

<%- include('../includes/end.ejs')%>